---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brit's Website">
	<main>
        <div class="top-space">
        <h1>Hit <span class="text-gradient">Enter</span> not send.</h1>
        <h3>
            <span class="text-gradient">Brit</span>
            once said "Instead of sending a million texts on rapidfire, lets just use
            enter to send multiple thoughts in one text."
        </h3>
        <h4>
            <span class="text-gradient">Brit</span>,
            here is your credit for this petition &lt3
        </h4>
        <h2>This is <span class="text-gradient">Brit's</span> personal site, made by yours truly.</h2>
        <h2>Here are some of her ideas and quotes</h2>
        <h4>
            Sometimes tho rapid fire is pretty cool ngl.
        </h4>
        <h4>
            Flirting? No. Violence? Yes.
        </h4>
        </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
    .top-space{
        padding-top: 100px;
    }
    .larger {
        font-size: 1.2rem;
    }
</style>
