---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <div class="top-space">
        <h1>Hit <span class="text-gradient">Enter</span> not send.</h1>
        <h3>
            Instead of sending a million texts on rapidfire, lets just use
            enter to send multiple thoughts in one text.
        </h3>
        <h4>
            <span class="text-gradient">Brittney</span>,
            here is your credit for this petition &lt3
        </h4>
        </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
    .top-space{
        padding-top: 100px;
    }
    .larger {
        font-size: 1.2rem;
    }
</style>
